@using Vehicle_ShowRoom_Manager_System.Models
@model LoginUser


@using (Html.BeginForm("UserLogin", "Home", FormMethod.Post, new { @class = "login" }))
{
    @Html.AntiForgeryToken()
    <div class="field">
        @Html.TextBoxFor(Model => Model.UserName, new { @placeholder = "User Name"})
    </div>
    <div class="field">
        @Html.PasswordFor(Model => Model.Password, new { @placeholder = "Password", required = "required" })
    </div>
    <div class="field btn">

        <input type="submit" value="Login">
    </div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger", @id = "errorLogin" })
    <div class="signup-link">
        Not a member? <a href="">SignUp now</a>
    </div>
}